/*COR DO FUNDO DO VSCODE: #1e1e1e */
@font-face {
    font-family: Lato;
    src: url(../css/font/Lato-Black.ttf);
}
@font-face {
    font-family: LatoReg;
    src: url(../css/font/Lato-Regular.ttf);
}
@font-face {
    font-family: Intro;
    src: url(../css/font/introrust-base.otf);
}
.cg, body, nav, section, main{
    margin: 0;
    border: 0;
    padding: 0;
}
html{
    height: 200vh;
    width: 100vw;
    scroll-behavior: smooth;
}
body{
    background-color: #1f1f23;
    font-family: Lato;
    height: 100%;
}
nav{
    width: 100vw;
    font-size: large;
    position: fixed;
    transition: 1s;
    top: 0%;
    left: 0%;
    z-index: 1;
}
a{
    text-decoration: none;
    color: none;
}
#li1, #li2, #li3, #li4{
    position: absolute;
    height: 30px;
    width: 100vw;
    left: 0px;
    transform: translateY(-8%);
}
.cont{
    text-align: center;
}
.botões{
    background-color: #18181bbd;
    filter:drop-shadow( 0px 5px 15px #000000);
    transition: 1s;
    backdrop-filter: blur(2px);
}
.botão{
    padding: 12px 0px;
    align-items: center;
}
.botão:hover{
    background-color: #202020bd;
}
#seta{
    height: 50px;
    width: 50px;
    transition: 1s;
}
#seta.hidden
{
    transform: rotate(180deg);
}
nav.hidden{
    position: fixed;
    top: -10px;
    left: 0%;
    transform: translateY(-75%);
    .botões{
        filter: none;
    }
}
.botão.hidden{
    color: white;
}
@media screen and (max-width: 350px)
{
    body
    {
        width: 100vw;
        height: 100vh;
    }
}
/* Imagem */

#img1.giro1{
    transform: rotate(0deg);
}
#img1.giro2{
    transform: rotate(10deg);
}
#img1.giro3{
    transform: rotate(20deg);
}
#img1.giro4{
    transform: rotate(30deg);
}
#img1.giro5{
    transform: rotate(40deg);
}
#img1.giro6{
    transform: rotate(50deg);
}
#img1.giro7{
    transform: rotate(60deg);
}
#img1.giro8{
    transform: rotate(70deg);
}
#img1.giro9{
    transform: rotate(80deg);
}
#img1.giro10{
    transform: rotate(90deg);
}
#img1.giro11{
    transform: rotate(100deg);
}
#img1.giro12{
    transform: rotate(110deg);
}
#img1.giro13{
    transform: rotate(120deg);
}
#img1.giro14{
    transform: rotate(130deg);
}
#img1.giro15{
    transform: rotate(140deg);
}
#img1.giro16{
    transform: rotate(150deg);
}
#img1.giro17{
    transform: rotate(160deg);
}
#img1.giro18{
    transform: rotate(170deg);
}
#img1.giro19{
    transform: rotate(180deg);
}
#img1.giro20{
    transform: rotate(190deg);
}
#img1.giro21{
    transform: rotate(200deg);
}
#img1.giro22{
    transform: rotate(210deg);
}
#img1.giro23{
    transform: rotate(220deg);
}
#img1.giro24{
    transform: rotate(230deg);
}
#img1.giro25{
    transform: rotate(240deg);
}
#img1.giro26{
    transform: rotate(250deg);
}
#img1.giro27{
    transform: rotate(260deg);
}
#img1.giro28{
    transform: rotate(270deg);
}
#img1.giro29{
    transform: rotate(280deg);
}
#img1.giro30{
    transform: rotate(290deg);
}
#img1.giro31{
    transform: rotate(300deg);
}
#img1.giro32{
    transform: rotate(310deg);
}
#img1.giro33{
    transform: rotate(320deg);
}
#img1.giro34{
    transform: rotate(330deg);
}
#img1.giro35{
    transform: rotate(340deg);
}
#img1.giro36{
    transform: rotate(350deg);
}
#img1.giro37{
    transform: rotate(360deg);
}
#img2{
    height: 80px;
    width: 80px;
    position: fixed;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: 0.5s;
}
#img2.fixar{
    opacity: 1;
}

/* Textos */

span{
    margin: 0px 10px;
}
section{
    font-family: LatoReg;
    color: #ffffff;
}
.oquee{
    margin: 100px 10px 40px 10px;
}
.história, .cfunciona, .curiosidades{
    margin: 10px 10px 40px 10px;
}
.título{
    font-size: larger;
    font-family: Intro;
    margin: 0px 15px 0px 5px;
}
.subt{
    font-family: Intro;
    margin: 30px 15px 0px 5px;
}
.texto{
    text-align: justify;
    margin: 0px 25px 0px 25px;
}
.subtexto{
    text-align: justify;
    margin: 0px 0px 0px 25px;
}
.img1{
    display: flex;
    justify-content: center;
    margin: 0px auto 100px auto;
}
#img1{
    height: 200px;
    width: 200px;
    z-index: -1;
}

footer{
    height: 100px;
}
